<div class="container">
  <h1>My tasks</h1>
  <ul>

    <% @tasks.each do |task| %>
      <li>
        <% if task.completed %>
          <i class="far fa-check-circle"></i>
        <% else %>
          <i class="far fa-circle"></i>
        <% end %>
        <%= link_to task.title, task_path(task) %>
        <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Delete #{task.title}?" } %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a new task", tasks_new_path %>

</div>
